@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;800&display=swap');
.strip{
    background-color: #90caf9;
}

.welcome-content{
    background-color: #e4484800;
    top: 0;
}

*{
    font-family: 'Plus Jakarta Sans', sans-serif;
}